.image-info {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.image-details {
  background-color: var(--color-blue);
  border-radius: 5px;
  padding: 12px;
}

.image-date-copyright {
  display: flex;
  font-size: small;
  border-radius: 5px;
  padding-top: 12px;
}

.image-date,
.copyright {
  padding: 0 10px;
}

.icon {
  height: 20px;
}

#camera {
  margin-left: 24px;
}

.image-description {
  line-height: 1.6rem;
  padding: 12px;
}

.text-button {
  border: none;
  background-color: var(--color-white);
  color: var(--color-blue);
  border-radius: 5px;
  padding: 3px;
  width: 102px;
  margin-left: 12px;
}

.back-button {
  text-transform: uppercase;
  background-color: var(--color-red);
  border-radius: 5px;
  padding: 6px 8px;
  font-size: 18px;
  border: none;
  width: fit-content;
  align-self: center;
}

@media screen and (max-width: 414px) {
  .image-info {
    padding: 12px 0;
  }
  .image-title {
    font-size: 1.3em;
  }
  .back-button {
    margin-top: 12px;
  }
}
