.image {
display: flex;
justify-content: center;
}

.image-info {
    border-radius: 5px;
    margin-top: 24px;
    width: 90%;
}

.image-info, .image-title, .image-description {
    background-color: var(--color-blue); 
    padding: 12px;
}

.image-date, .copyright {
    background-color: var(--color-blue); 
    padding: 0 10px;
}

.image-title {
    color: var(--color-red);
}

.icon {
    height:20px;
    margin-left: 24px;
    background-color: var(--color-blue); 
}

.image-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    background-color: var(--color-blue); 
}

.image-description {
    line-height: 1.6rem;
}

button {
    border: none;
    cursor: pointer;
    background-color:var(--color-white);
    color: var(--color-blue);
    border-radius: 5px;
    padding: 3px;
    width: 102px;
    margin-left: 12px
}
