.App {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 52px;
grid-gap: 24px
}

.intro {
line-height: 1.5rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    }