.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#apod-image {
    width: 100%;
    object-fit: contain;
    max-height: 100vh;
}

#apod-video {
 width: 70%;
 height: 80%
}

.loading-error-message {
margin: 24px 0 300px 0;
color: var(--color-red)
}

@media screen and (max-width: 414px) {
.image {
   padding: 12px 0;
}
#apod-video {
    width: 100%;
   }
}